* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


img {
    height: 500px;
    width: auto;
}

h1 {
    background-color: darkcyan;
    color: white;
    text-align: center;
}

.recipe {
    
}

h3 {
    
}

ul {
    
}

ol {
    
}
